In [ ]:
# let's mport all required libraries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

(Q1) Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [ ]:
# connect web driver
driver=webdriver.Chrome(r"C:\Users\91832\Downloads\chromedriver_win32\chromedriver.exe")

In [ ]:
url='https://www.naukri.com/'
driver.get(url)

In [ ]:
# finding web element for search jobs
search_job=driver.find_element_by_class_name("suggestor-input ")

In [ ]:
#write on search bar
search_job.send_keys("Data Analyst")

In [ ]:
search_lcn=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_lcn.send_keys("Bangalore")

In [ ]:
search_btn=driver.find_element_by_class_name("qsbSubmit")
search_btn.click()

### Extracting job titles

In [ ]:
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tags

In [ ]:
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
job_titles

### Extracting company names

In [ ]:
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tags

In [ ]:
company_names=[]
for i in company_tags:
    company_names.append(i.text)
company_names

### Extracting locations

In [ ]:
lcn_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
lcn_tags

In [ ]:
job_lcn=[]
for i in lcn_tags:
    job_lcn.append(i.text)
job_lcn

### Extracting experience

In [ ]:
exp_tags=driver.find_elements_by_xpath('//*[contains(@title,"Yrs")]')
exp_tags

In [ ]:
experience=[]
for i in exp_tags:
    experience.append(i.text)
experience

In [ ]:
len(job_titles),len(company_tags),len(job_lcn),len(experience)

### creating data frame

In [ ]:
df=pd.DataFrame()
df[' job-title']=job_titles
df[' job-location']=job_lcn
df[' company_name']=company_names
df['experience_required']=experience
df.head(10)

(Q2) Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data

In [ ]:
driver=webdriver.Chrome(r"C:\Users\91832\Downloads\chromedriver_win32\chromedriver.exe")

In [ ]:
url='https://www.naukri.com/'
driver.get(url)

In [ ]:
search_job=driver.find_element_by_class_name("suggestor-input ")
search_job.send_keys("Data Scientist")

In [ ]:
search_lcn=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_lcn.send_keys("Bangalore")

In [ ]:
search_btn=driver.find_element_by_class_name('qsbSubmit')
search_btn.click()

### extracting job_titles

In [ ]:
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tags

In [ ]:
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
job_titles

### extracting job_locations

In [ ]:
lcn_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
lcn_tags

In [ ]:
job_lcn=[]
for i in lcn_tags:
    job_lcn.append(i.text)
job_lcn

In [ ]:
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tags

In [ ]:
company_names=[]
for i in company_tags:
    company_names.append(i.text)
company_names

### creating data frame

In [ ]:
df=pd.DataFrame()
df[' job-title']=job_titles
df[' job-location']=job_lcn
df[' company_name']=company_names

df.head(10)

(Q3) In this question you have to scrape data using the filters available on the webpage as shown below
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [ ]:
# connect web driver and get the url
driver=webdriver.Chrome(r"C:\Users\91832\Downloads\chromedriver_win32\chromedriver.exe")
url='https://www.naukri.com/'
driver.get(url)

In [ ]:
# finding web element for job search bar and write in job bar
search_job=driver.find_element_by_class_name("suggestor-input ")
search_job.send_keys('Data Scientist')

In [ ]:
# find web element for search and click
search_btn=driver.find_element_by_class_name("qsbSubmit")
search_btn.click()

In [ ]:
lcn_check=driver.find_element_by_xpath("//span[@title='Delhi / NCR']")
lcn_check.click()

In [ ]:
salary_check=driver.find_element_by_xpath("//span[@title='3-6 Lakhs']")
salary_check.click()

In [ ]:
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tags

In [ ]:
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
job_titles

In [ ]:
lcn_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
lcn_tags

In [ ]:
job_lcn=[]
for i in lcn_tags:
    job_lcn.append(i.text)
job_lcn

In [ ]:
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tags
company_names=[]
for i in company_tags:
    company_names.append(i.text)
company_names

In [ ]:
exp_tags=driver.find_elements_by_xpath('//*[contains(@title,"Yrs")]')
exp_tags
experience=[]
for i in exp_tags:
    experience.append(i.text.replace('Yrs',''))
experience

In [ ]:
df=pd.DataFrame()
df[' job-title']=job_titles
df[' job-location']=job_lcn
df[' company_name']=company_names
df['experience_required(yrs)']=experience
df.head(10)

(Q4) Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands andmore” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom ofthe page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

In [ ]:
driver=webdriver.Chrome(r"C:\Users\91832\Downloads\chromedriver_win32\chromedriver.exe")
driver

In [ ]:
url='https://www.flipkart.com/'
driver.get(url)

In [ ]:
search_sunglasses=driver.find_element_by_class_name("_3704LK")
search_sunglasses.send_keys('sunglasses')

In [ ]:
search_btn=driver.find_element_by_class_name("L0Z3Pu")
search_btn.submit()

### Extracting brands

In [ ]:
brand_tags=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brand_tags

In [ ]:
brands=[]
for i in brand_tags:
    brands.append(i.text)
brands

### Extracting product description

In [ ]:
des_tags=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

Product_Description=[]
for i in des_tags:
    Product_Description.append(i.text)
Product_Description

### extracting price

In [ ]:
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
price=[]
for i in price_tags:
    price.append(i.text.replace('₹',''))
price

### extracting offers

In [ ]:
offer_tags=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
offers=[]
for i in offer_tags:
    offers.append(i.text.replace('off',''))
offers

### making dataframe

In [ ]:
df=pd.DataFrame()
df['Brand']=brands
#df['Product_Description']=Product_Description
df['Price(₹)']=price
df['Offer(off)']=offers
df

(Q6) Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [ ]:
driver=webdriver.Chrome(r"C:\Users\91832\Downloads\chromedriver_win32\chromedriver.exe")
driver

In [ ]:
url='https://www.flipkart.com/'
driver.get(url)

In [ ]:
search_sneakers=driver.find_element_by_class_name("_3704LK")
search_sneakers.send_keys('Sneakers')

In [ ]:
search_btn=driver.find_element_by_class_name("L0Z3Pu")
search_btn.submit()

In [ ]:
# Extracting brand
brand_tags=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brands=[]
for i in brand_tags:
    brands.append(i.text)
brands

In [ ]:
# extracting product description
product_tags=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
product_desc=[]
for i in product_tags:
    product_desc.append(i.text)
product_desc

In [ ]:
# extracting price
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
price=[]
for i in price_tags:
    price.append(i.text.replace('₹',''))
price

In [ ]:
# extracting offers
offer_tags=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
offers=[]
for i in offer_tags:
    offers.append(i.text.replace('off','').replace('%',''))
offers

In [ ]:
# making data frame
df=pd.DataFrame()
df['Brand']=brands
#df['Product_Description']=product_desc
df['Price(₹)']=price
df['offer(%)']=offers
df

(Q7)Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image

In [ ]:
driver=webdriver.Chrome(r"C:\Users\91832\Downloads\chromedriver_win32\chromedriver.exe")
url='https://www.myntra.com/shoes'
driver.get(url)

In [ ]:
search_price=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
search_price.click()

In [ ]:
search_color=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
search_color.click()

In [ ]:
# extracting brands
brand_tags=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
brands=[]
for i in brand_tags:
    brands.append(i.text)
brands

In [ ]:
# extracting shoe description
desc_tags=driver.find_elements_by_xpath('//h4[@class="product-product"]')
shoe_description=[]
for i in desc_tags:
    shoe_description.append(i.text)
shoe_description

In [ ]:
#extracting shoe price
price_tags=driver.find_elements_by_xpath('//div[@class="product-price"]')
price=[]
for i in price_tags:
    price.append(i.text.replace('Rs.','')[:6])
price

In [ ]:
# making data frame
df=pd.DataFrame()
df['Brand']=brands
df['Description']=shoe_description
df['Price(Rs.)']=price
df

(Q8) Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [ ]:
driver=webdriver.Chrome(r"C:\Users\91832\Downloads\chromedriver_win32\chromedriver.exe")
url='https://www.amazon.in/'
driver.get(url)

In [ ]:
search_laptop=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search_laptop.send_keys('Laptop')

In [ ]:
search_btn=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search_btn.click()

In [ ]:
search_cpu=driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[3]/li[11]/span/a/div/label/i")
search_cpu.click()

In [ ]:
# extracting titles
title_tags=driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
titles=[]
for i in title_tags:
    titles.append(i.text)
titles[:10]

In [ ]:
#extracting ratings
rating_tags=driver.find_elements_by_xpath('//span[@class="a-icon-alt"]')
ratings=[]
for i in rating_tags:
    ratings.append(i.text)
ratings[:10]

In [ ]:
#scraping price
price_tags=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
price=[]
for i in price_tags:
    price.append(i.text)
price[:10]

(Q9) Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

In [ ]:
# connect webpage
driver=webdriver.Chrome(r"C:\Users\91832\Downloads\chromedriver_win32\chromedriver.exe")
url='https://www.ambitionbox.com/'
driver.get(url)

In [ ]:
#finding web element for jobs
search_jobs=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
search_jobs.click()

In [ ]:
#finding web element for Designations, Companies, Skills
search_designation=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')
search_designation.send_keys('Data Scientist')

In [ ]:
#finding web element for search button
search_btn=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/button/span')
search_btn.click()

In [ ]:
#finding web element for location button
search_location_btn=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')
search_location_btn.click()

In [ ]:
#finding web element for locations
search_location=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
search_location.send_keys('Noida')

In [ ]:
#finding web element for select noida
lcn_noida=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
lcn_noida.click()

In [ ]:
# extracting company name
company_tags=driver.find_elements_by_xpath('//p[@class="company body-medium"]')
companies=[]
for i in company_tags:
    companies.append(i.text)
companies

In [ ]:
#extracting No. of days ago when job was posted
days_tags=driver.find_elements_by_xpath('//span[@class="body-small-l"]')
posted_days=[]
for i in days_tags:
    posted_days.append(i.text)
posted_days

In [ ]:
# extracting company ratings
rating_tags=driver.find_elements_by_xpath('//span[@class="body-small"]')
ratings=[]
for i in rating_tags:
    ratings.append(i.text)
ratings

In [ ]:
# create data frame
df=pd.DataFrame()
df['Company']=companies
df['Rating']=ratings
#df['Posted']=posted_days
df

(Q10) Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
then click on “Data Scientist”.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [ ]:
# connect webpage
driver=webdriver.Chrome(r"C:\Users\91832\Downloads\chromedriver_win32\chromedriver.exe")
url='https://www.ambitionbox.com/'
driver.get(url)

In [ ]:
#finding web element for salaries
search_sal=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
search_sal.click()

In [ ]:
search_job=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
search_job.send_keys("Data scientist")

In [ ]:
search_dst=driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p")
search_dst.click()

In [ ]:
#Scraping the company names
company_tags=driver.find_elements_by_xpath('//div[@class="name"]')
company_names=[]
for i in company_tags:
    company_names.append(i.text.replace('\nbased on','').replace('salaries','')[:-3])
company_names

In [ ]:
#Scraping the average salary
avg_sal_tags=driver.find_elements_by_xpath('//p[@class="averageCtc"]')
avg_sal=[]
for i in avg_sal_tags:
    avg_sal.append(i.text.replace('₹','').replace('L',''))
avg_sal

In [ ]:
#Scraping the minimum salary
min_sal_tags=driver.find_elements_by_xpath('//div[@class="value body-medium"]')
min_sal=[]
for i in min_sal_tags:
    min_sal.append(i.text.replace('₹','').replace('L',''))
min_sal

In [ ]:
#Scraping the required experience
exp_tags=driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
exp=[]
for i in exp_tags:
    exp.append(i.text.replace('Data Scientist\n . \n','').replace('yrs exp',''))
exp

In [ ]:
#data frame
df=pd.DataFrame()
df['Company']=company_names
df['Average Salary(Lacs)']=avg_sal
#df['Min Salary(in Lacs)']=min_sal
#df['Max Salary(Lacs)']=max_sal
df['Experience(Yrs)']=exp
df